.city-popap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  max-width: 480px;
  width: 100%;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 33px;

  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
  border-radius: 3px;

  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.city-popap--show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.city-popap__btn-close {
  position: absolute;
  top: 39px;
  right: 29px;

  height: 18px;
  width: 18px;

  border-color: transparent;
  background-color: transparent;

  cursor: pointer;
}

.city-popap__btn-svg {
  position: absolute;
  top: -1px;
  left: -1px;

  stroke: rgba($color-white, 0.5);

  transition: all 0.1 linear;
}

.city-popap__btn-close:hover .city-popap__btn-svg,
.city-popap__btn-close:focus .city-popap__btn-svg {
  stroke: rgba($color-white, 0.8);
}

.city-popap__btn-close:active .city-popap__btn-svg {
  stroke: rgba($color-white, 1);
}

.city-popap__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

.city-popap__gps-text,
.city-popap__text {
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  color: $color-white-dark;
}

.city-popap__gps-text {
  position: relative;

  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 30px;
}

.city-popap__gps-text::after {
  position: absolute;
  left: 0;
  top: 0;

  content: "";
  height: 20px;
  width: 20px;

  background-image: url("../img/gps-location.svg");
  background-repeat: no-repeat;
}

.city-popap__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.city-popap__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.city-popap__list-link {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: rgba($color-white, 0.32);

  transition: all 0.1s linear;
}

.city__list-link--active {
  color: $color-white;
  border-bottom: 2px solid $color-orange;
}

.city-popap__list-link:hover,
.city-popap__list-link:focus {
  color: rgba($color-white, 1);
}

.city-popap__list-link:active {
  color: rgba($color-white, 0.7);
}

.city-popap__list-link--active {
  color: rgba($color-white, 1);

  border-bottom: 2px solid $color-orange;
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .city-popap {
    height: 100vh;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .city-popap__title {
    margin-bottom: 35px;
  }

  .city-popap__gps-text {
    margin-bottom: 51px;
    padding-left: 32px;
  }

  .city-popap__gps-text::after {
    left: 2px;
    top: -2px;
  }

  .city-popap__text {
    margin-bottom: 25px;
    padding-left: 2px;
  }

  .city-popap__list-link {
    margin-bottom: 22px;
    padding-bottom: 2px;
  }
}
