.footer {
  position: fixed;
  bottom: 0;

  padding-bottom: 24px;

  width: 100%;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.footer__list-item {
  margin-right: 7px;
}

.footer__list-link {
  display: block;

  height: 28px;
  width: 28px;

  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.1s linear;
}

.footer__list-link--insta {
  background-image: url("../img/instagram-default.svg");
}

.footer__list-link--insta:hover,
.footer__list-link--insta:focus {
  background-image: url("../img/instagram-hover.svg");
}

.footer__list-link--insta:active {
  opacity: 0.5;
}

.footer__list-link--vk {
  background-image: url("../img/vk-default.svg");
}

.footer__list-link--vk:hover,
.footer__list-link--vk:focus {
  background-image: url("../img/vk-hover.svg");
}

.footer__list-link--vk:active {
  opacity: 0.5;
}

.footer__text-question {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-weight: 500;
  font-size: 12px;

  color: $color-white-dark;

  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $color-white-dark;

  transition: all 0.1s linear;
}

.footer__text-question:hover,
.footer__text-question:focus {
  color: $color-orange;

  border-bottom-color: $color-orange;
}

.footer__text-question:active {
  border-bottom-style: solid;
}

.footer__text-question span {
  display: none;

  transition: all 0.1s linear;
}

.footer__text-question:hover span,
.footer__text-question:focus span {
  display: inline-block;
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  footer {
    display: none;
  }

  .footer__text-question {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;

    color: $color-white-dark;
  }

  .footer__list-item {
    margin-right: 16px;
  }

  .footer__list-link {
    margin-bottom: 5px;

    height: 36px;
    width: 36px;
  }
}
