.intro {
  min-height: 100vh;

  background-image:
    linear-gradient(274.19deg, rgba(99, 60, 15, 0) 35.91%, rgba(36, 21, 14, 0.54) 65.15%, rgba(26, 20, 13, 0.54) 98.48%),
    radial-gradient(41.41% 41.41% at 66.25% 48.18%, rgba(0, 0, 0, 0) 2.48%, rgba(0, 0, 0, 0) 63.56%, rgba(0, 0, 0, 0.71) 97.05%),
    url("../img/intro-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(274.19deg, rgba(99, 60, 15, 0) 35.91%, rgba(36, 21, 14, 0.54) 65.15%, rgba(26, 20, 13, 0.54) 98.48%),
      radial-gradient(41.41% 41.41% at 66.25% 48.18%, rgba(0, 0, 0, 0) 2.48%, rgba(0, 0, 0, 0) 63.56%, rgba(0, 0, 0, 0.71) 97.05%),
      url("../img/intro-bg-desktop2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 104px;

  min-height: 100vh;
}

.intro h1 {
  max-width: 540px;
  margin-top: 0;
  margin-bottom: 36px;

  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.2px;

  color: $color-white;
}

.intro p {
  max-width: 468px;
  margin-top: 0;
  margin-bottom: 70px;

  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.15px;

  color: $color-white-dark;
}

.intro__btn {
  margin-bottom: 5px;
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .intro {
    // min-height: 640px;

    background-image:
      linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      radial-gradient(41.41% 41.41% at 66.25% 48.18%, rgba(0, 0, 0, 0) 2.48%, rgba(0, 0, 0, 0) 63.56%, rgba(0, 0, 0, 0.71) 97.05%),
      url("../img/intro-bg-mobile.jpg");
  }

  .intro__inner {
    justify-content: flex-end;

    min-height: 640px;
    padding-left: 0;
  }

  .intro h1 {
    max-width: 295px;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;

    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .intro p {
    display: none;
  }

  .intro__btn {
    max-width: 185px;
    min-height: 47px;
    margin-right: auto;
    margin-bottom: 58px;
    margin-left: auto;

    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
  }
}
