/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .opened__header {
    min-height: 100vh;
  }

  .opened__header .header {
    // height: 100vh;
    // background: linear-gradient(163.84deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
    // z-index: 100;
  }

  .opened__header .main-nav {
    display: block;
    z-index: 100;
  }

  .opened__header .header__contacts {
    display: block;
    z-index: 100;
  }

  .opened__header .footer {
    display: block;
    z-index: 100;
  }

  .opened__header .header__burger::after {
    height: 16px;
    width: 16px;

    background-image: url("../img/burger-open.svg");
  }






  .opened__header {
    display: flex;
    flex-direction: column;

    background: linear-gradient(163.84deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);
  }

  .opened__header .header {
    position: static;
  }

  .opened__header main {
    display: none;
  }

  .opened__header .footer {
    position: static;

    margin-top: auto;
  }
}
