.question-popap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  max-width: 480px;
  width: 100%;
  padding-top: 35px;
  padding-right: 32px;
  padding-bottom: 33px;
  padding-left: 32px;

  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
  border-radius: 3px;

  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.question-popap--show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.question-popap__form-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.question-popap__form-list .error {
  display: none;

  margin-top: -31px;
  margin-bottom: 0;
  padding-left: 24px;

  font-weight: 500;
  font-size: 12px;
  color: #f2901d;
}

.question-popap__form-list .error-name--show {
  display: block;
}

.question-popap__form-list .error-email--show {
  display: block;
}

.question-popap__form-list .error-text--show {
  display: block;
}

.question-popap__form-item {
  margin-bottom: 2px;
}

.question-popap__title {
  margin-top: 0;
  margin-bottom: 45px;

  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

.question-popap__form-label {
  display: block;
  margin-bottom: 19px;

  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: $color-white-dark;
}

.question-popap__form input,
.question-popap__form textarea {
  max-width: 400px;
  width: 100%;
  margin-bottom: 32px;
  padding-top: 18px;
  padding-right: 24px;
  padding-bottom: 17px;
  padding-left: 24px;

  font-weight: 500;
  font-size: 14px;

  color: $color-white-dark;

  border: 1px solid rgba($color-white, 0.4);
  border-radius: 3px;
  background: transparent;
}

.question-popap__form input::placeholder,
.question-popap__form textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: rgba($color-white-dark, 0.64);
}

.question-popap__form .input--valid {
  border-color: #2cdb52;
}

.question-popap__form .input--invalid {
  border-color: #f2901d;
}

.question-popap__form-textarea {
  min-height: 120px;
  margin-bottom: 26px;

  resize: none;
}

.question-popap__form-btn {
  margin: 0 auto;
  min-height: 47px;
  max-width: 219px;
  margin-bottom: 22px;

  font-weight: 800;
  font-size: 14px;
  line-height: 16px;

  background: $color-gray;
}

.question-popap__label {
  position: relative;

  display: block;
  padding-left: 24px;

  font-weight: 500;
  color: $color-white-dark;
}

.question-popap__check-box {
  position: absolute;
  top: 2px;
  left: 0;

  width: 16px;
  height: 16px;

  background: rgba($color-orange, 0.4);
  border-radius: 4px;
}

.question-popap__check-box::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  display: none;
  width: 8px;
  height: 8px;

  background-image: url("../img/checked-input.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.question-popap__input:checked + .question-popap__check-box {
  background: $color-orange;
}

.question-popap__input:checked + .question-popap__check-box::after {
  display: block;
}

.question-popap__input:focus + .question-popap__check-box {
  background: rgba($color-orange, 0.7);
}

.question-popap__input:checked:focus + .question-popap__check-box {
  background: $color-orange;
}

.question-popap__input:disabled + .question-popap__check-box {
  background: rgba($color-orange, 0.2);
}

.question-popap__input:checked:disabled + .question-popap__check-box {
  background: rgba($color-orange, 0.2);
}

.question-popap__input:checked:disabled + .question-popap__check-box::after {
  opacity: 0.5;
}


/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .question-popap {
    height: 100vh;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .question-popap__inner {
    max-width: 360px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .question-popap__title {
    margin-bottom: 43px;
  }

  .question-popap__form-item {
    margin-bottom: -1px;
  }

  .question-popap__form-label {
    max-width: 280px;
    margin-bottom: 14px;

    line-height: 22px;
  }

  .question-popap__form input,
  .question-popap__form textarea {
    max-width: 319px;
    margin-right: 8px;
  }

  .question-popap__form textarea {
    margin-bottom: 29px;
  }

  .question-popap__form-btn {
    margin-left: 50px;
  }

  .question-popap__label {
    line-height: 20px;
  }
}
