.questions-box__innner {
  padding-top: 39px;
}

.questions-box__list {
  display: flex;
  flex-wrap: wrap;

  max-width: 1104px;
  margin: 0 auto;
  padding-left: 0;

  list-style: none;
}

.questions-box__list-item {
  position: relative;

  max-width: 344px;
  width: 100%;
  margin-right: 24px;
  margin-bottom: 32px;
}

.questions-box__list-hit {
  position: absolute;
  top: 14px;
  right: 17px;

  display: flex;
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 4px;
  padding-right: 12px;

  font-weight: 500;
  font-size: 12px;

  color: $color-white-dark;

  border: 2px solid rgba(242, 137, 15, 0.74);
  border-radius: 25px;
}

.questions-box__list-hit::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  margin-right: 2px;

  background-image: url("../img/icon-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.questions-box__list-link {
  display: flex;

  color: $color-white;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.questions-box__list-link--crypt {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-crypt.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-crypt2x.jpg");
  }
}

.questions-box__list-link--maniac {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-maniac.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-maniac2x.jpg");
  }
}

.questions-box__list-link--ritual {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-ritual.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-ritual2x.jpg");
  }
}

.questions-box__list-link--history {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-history.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-history2x.jpg");
  }
}

.questions-box__list-link--secret {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-secret.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-secret2x.jpg");
  }
}

.questions-box__list-link--hut {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-hut.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-hut2x.jpg");
  }
}

.questions-box__list-link--experiments {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-experiments.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-experiments2x.jpg");
  }
}

.questions-box__list-link--metro {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-metro.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-metro2x.jpg");
  }
}

.questions-box__list-link--attic {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-attic.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-attic2x.jpg");
  }
}

.questions-box__list-link--boundary {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-boundary.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-boundary2x.jpg");
  }
}

.questions-box__list-link--mars {
  background-image:
    linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
    url("../img/quest-bg-card-mars.jpg");

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0.17deg, rgba(28, 27, 27, 0.9) 5.23%, rgba(46, 46, 46, 0) 98.38%),
      url("../img/quest-bg-card-mars2x.jpg");
  }
}

.questions-box__list-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 232px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.questions-box__list-title {
  width: 250px;
  margin-top: 0;
  margin-bottom: 13px;

  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.questions-box__list-adress {
  position: relative;

  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 21px;
}

.questions-box__list-adress::after {
  position: absolute;
  top: -1px;
  left: 1px;

  content: "";
  display: block;
  width: 11px;
  height: 14px;

  background-image: url("../img/icon-location.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.questions-box__list-adress,
.questions-box__description {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: rgba($color-white-light, 0.8);
}

.questions-box__description {
  display: flex;
  align-items: center;
}

.questions-box__description-people {
  position: relative;

  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 21px;

  border-right: 1px solid rgba($color-white, 0.5);
}

.questions-box__description-people::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  height: 16px;
  width: 13px;

  background-image: url("../img/icon-person.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.questions-box__description-level {
  position: relative;

  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 34px;
}

.questions-box__description-level::before {
  position: absolute;
  top: 1px;
  left: 11px;

  content: "";
  height: 16px;
  width: 16px;

  background-image: url("../img/icon-puzzle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* =====================================================================================
Media max-width: 1320px*/
@media (max-width: 1320px) {
  .questions-box__list {
    max-width: 1000px;
  }

  .questions-box__list-item {
    max-width: 328px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

/* =====================================================================================
Media max-width: 1210px*/
@media (max-width: 1210px) {
  .questions-box__list {
    max-width: 680px;
  }
}

/* =====================================================================================
Media max-width: 875px*/
@media (max-width: 875px) {
  .questions-box__list {
    max-width: 328px;
  }

  .questions-box__list-item {
    margin-right: 0;
  }
}
