.quest {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

.quest--maniac {
  height: 100vh;

  background-image:
    radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%),
    url("../img/quest-bg-desktop-maniac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest--secret {
  height: 100vh;

  background-image:
    radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%),
    url("../img/quest-bg-desktop-secret.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest--ritual {
  height: 100vh;

  background-image:
    radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%),
    url("../img/quest-bg-desctop-ritual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest--experiments {
  height: 100vh;

  background-image:
    radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%),
    url("../img/quest-bg-desktop-experiments.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest__inner {
  max-width: 600px;
  margin-top: -26px;
  margin-left: auto;
  margin-right: 133px;
}

.quest__link {
  display: none;
}

.quest__subtitle {
  margin-top: 0;
  margin-bottom: 13px;
  margin-left: 6px;

  font-weight: 500;
  line-height: 14px;
  color: $color-orange;
}

.quest__title {
  margin-top: 0;
  margin-bottom: 22px;

  font-weight: 900;
  font-size: 92px;
  line-height: 87px;
  letter-spacing: -2.9px;
  color: $color-white;
}

.quest__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 410px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 13px;
  margin-left: 32px;
  padding-left: 0;

  list-style: none;
}

.quest__list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.quest__list-item:nth-child(2) {
  position: relative;
}

.quest__list-item:nth-child(2)::before {
  position: absolute;
  top: 6px;
  left: -27px;

  content: "";
  height: 36px;
  width: 1px;

  background-color: rgba($color-white, 0.36);
}

.quest__list-item:nth-child(2)::after {
  position: absolute;
  top: 6px;
  right: -24px;

  content: "";
  height: 36px;
  width: 1px;

  background-color: rgba($color-white, 0.36);
}

.quest__list-text {
  position: relative;

  display: block;
  padding-top: 5px;
  padding-left: 28px;
  padding-bottom: 5px;

  font-size: 14px;
  font-weight: normal;

  color: $color-white-dark;
}

.quest__list-text--time::before {
  position: absolute;
  top: 3px;
  left: -2px;

  content: "";
  height: 20px;
  width: 20px;

  background-image: url("../img/icon-clock.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest__list-text--people::before {
  position: absolute;
  top: 2px;
  left: 0;

  content: "";
  height: 24px;
  width: 19px;

  background-image: url("../img/icon-person.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest__list-text--level::before {
  position: absolute;
  top: 1px;
  left: -3px;

  content: "";
  height: 24px;
  width: 24px;

  background-image: url("../img/icon-puzzle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quest__text {
  max-width: 522px;
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 31px;

  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: $color-white-dark;
}

.quest__btn {
  margin-left: 33px;
}

/* =====================================================================================
Media max-width: 1023px*/
@media (max-width: $tablet-width) {
  .quest__inner {
    margin-top: 0;
    margin-right: 0;
  }
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .quest {
    justify-content: flex-start;
    padding-top: 88px;
  }

  .quest--maniac {
    background-image:
      linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/quest-bg-mobile-maniac.jpg");
    background-position: top, center;
  }

  .quest--secret {
    background-image:
      linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/quest-bg-mobile-secret.jpg");
  }

  .quest--ritual {
    background-image:
      linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/quest-bg-mobile-ritual.jpg");
  }

  .quest--experiments {
    background-image:
      linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
      url("../img/quest-bg-mobile-experiments.jpg");
  }

  .quest__inner {
    margin: 0 auto;
  }

  .quest__link {
    position: relative;

    display: block;
    margin-top: 8px;
    padding-left: 20px;

    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-white-dark;
  }

  .quest__link::before {
    position: absolute;
    top: 3px;
    left: 5px;

    content: "";
    height: 10px;
    width: 6px;

    background-image: url("../img/icon-left-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .quest__subtitle {
    margin-top: 295px;
    margin-bottom: 14px;
  }

  .quest__title {
    margin-bottom: 4px;
    margin-left: 6px;

    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.1px;
  }

  .quest__list {
    max-width: 337px;
    width: 100%;
    margin-bottom: -3px;
    margin-left: 3px;

    align-items: flex-start;
  }

  .quest__list-item:nth-child(2)::before {
    top: 18px;
    left: -13px;

    height: 49px;
  }

  .quest__list-item:nth-child(2)::after {
    top: 15px;
    right: -9px;

    height: 49px;
  }

  .quest__list-text {
    width: 100px;
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 5px;

    line-height: 17px;
    text-align: center;
  }

  .quest__list-text--time::before {
    top: 8px;
    left: 38px;
  }

  .quest__list-text--people::before {
    top: 6px;
    left: 39px;
  }

  .quest__list-text--level::before {
    top: 7px;
    left: 37px;
  }

  .quest__text {
    max-width: 345px;
    margin-bottom: 19px;
    margin-left: 5px;
  }

  .quest__btn {
    margin-left: 5px;
  }
}
