.questions-page__main {
  padding-top: 122px;

  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.questions-page__header {
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .questions-page__main {
    padding-top: 96px;
  }
}
