.ritual-quest {
  .quest__inner {
    margin-top: -29px;
  }

  .quest__subtitle {
    margin-bottom: 25px;
    margin-left: -1px;
  }

  .quest__title {
    margin-bottom: 16px;
  }

  .quest__list {
    margin-left: 38px;
  }
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .ritual-quest {
    .quest__inner {
      margin-top: 8px;
    }

    .quest__link {
      padding-left: 22px;
    }

    .quest__subtitle {
      margin-top: 291px;
      margin-bottom: 16px;
      margin-left: 7px;
    }

    .quest__title {
      margin-bottom: 3px;
    }

    .quest__list {
      margin-left: 4px;
    }

    .quest__text {
      margin-left: 7px;
    }
  }
}
