.slider-box__wrapper {
  min-height: 100vh;
  padding-top: 122px;

  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.slider-box__inner {
  padding-top: 2px;
  padding-left: 104px;
}

.slider-box h1 {
  margin-top: 0;
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-orange;
}

.slider-box h2 {
  margin-top: 0;
  margin-bottom: 51px;

  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}

.slider-box__wrapper-slick {
  max-width: 1076px;
}

/* =====================================================================================
Media max-width: 1290px*/
@media (max-width: 1290px) {
  .slider-box__wrapper-slick {
    max-width: 710px;
  }
}

/* =====================================================================================
Media max-width: 888px*/
@media (max-width: 888px) {
  .slider-box__wrapper-slick {
    max-width: 341px;
  }
}

/* =====================================================================================
Media max-width: 767px*/
@media (max-width: $mobile-width) {
  .slider-box__wrapper {
    padding-top: 96px;
  }

  .slider-box__inner {
    padding-left: 8px;
  }

  .slider-box h1 {
    margin-bottom: 13px;
  }

  .slider-box h2 {
    max-width: 200px;
    margin-bottom: 41px;

    font-size: 36px;
    line-height: 40px;
  }
}
