.slick__item {
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 40px;

  border-right: 1px solid rgba(255, 255, 255, 0.32);
}

.slick__slide:first-child .slick__item {
  padding-left: 0;
}

.slick__slide:last-child .slick__item {
  padding-right: 0;

  border-right: none;
}

.slick__item-link {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.3px;

  color: $color-white-dark;
}

.slick__item-link::before {
  margin-right: 12px;

  content: "";
  display: block;
  width: 26px;
  height: 30px;

  background-repeat: no-repeat;
  background-size: cover;
}

.slick__item-link--all::before {
  background-image: url("../img/icon-quest-all-quests.svg");
}

.slick__item-link--adventure::before {
  width: 36px;
  height: 30px;

  background-image: url("../img/icon-quest-adventure.svg");
}

.slick__item-link--horror::before {
  width: 30px;
  height: 30px;

  background-image: url("../img/icon-quest-horror.svg");
}

.slick__item-link--mysticism::before {
  width: 30px;
  height: 30px;

  background-image: url("../img/icon-quest-mysticism.svg");
}

.slick__item-link--detective::before {
  width: 40px;
  height: 30px;

  background-image: url("../img/icon-quest-detective.svg");
}

.slick__item-link--sci::before {
  width: 28px;
  height: 30px;

  background-image: url("../img/icon-quest-scifi.svg");
}

.slick__item-link span {
  border-bottom: 2px solid transparent;
}

.slick__item-link:hover span,
.slick__item-link:focus span {
  border-bottom: 2px solid $color-orange;
}

.slick__item-link:active {
  opacity: 0.8;
}

/* =====================================================================================
Media max-width: 1023px*/
@media (max-width: $tablet-width) {
  .slick__item {
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
  }

  .slick__slide:first-child .slick__item {
    padding-left: 0;
  }

  .slick__slide:last-child .slick__item {
    padding-right: 0;
  }

  .slick__item-link--all::before {
    width: 20.8px;
    height: 24px;
  }

  .slick__item-link--adventure::before {
    width: 28.8px;
    height: 24px;
  }

  .slick__item-link--horror::before {
    width: 24px;
    height: 24px;
  }

  .slick__item-link--mysticism::before {
    width: 24px;
    height: 24px;
  }

  .slick__item-link--detective::before {
    width: 32px;
    height: 24px;
  }

  .slick__item-link--sci::before {
    width: 22.4px;
    height: 24px;
  }
}
