@font-face {
  font-family: "Raleway";

  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";

  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway-medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway";

  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-semiBold.woff2") format("woff2"),
    url("../fonts/raleway-semiBold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";

  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway-bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";

  font-weight: 800;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";

  font-weight: 900;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/raleway-black.woff2") format("woff2"),
    url("../fonts/raleway-black.woff") format("woff");
}
